# Cython build output
build/
src/pyddstore.cpp
src/pyddstore/_core.cpp
src/pyddstore/_core.numpy-version
# built module
PyDDStore.egg-info/
pyddstore.cpython-*.so
_core.cpython-*.so
__pycache__/
*.pyc
